name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # Change if your main branch is named differently

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: tarjan1233/laundry-backend:latest
          provenance: false
          build-args: |
            FIREBASE_KEY_BASE64=${{ secrets.FIREBASE_KEY_BASE64 }}
